body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.add-vehicle {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  max-width: 500px;
}

.add-vehicle-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-vehicle-form > input {
  border: 1px solid #ddd;
  border-top: 2px solid #ddd;
  padding: 10px;
}

.add-vehicle-form > button {
  background-color: red;
  width: fit-content;
  padding: 10px;
  color: white;
  border-radius: 6px;
  margin-top: 20px;
}

.add-vehicle-close-btn {
  background-color: red;
  width: fit-content;
  position: absolute;
  top: 10px;
  right: 10px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(4px); /* Slight blur for background */
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
}

.loader-dot {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background-color: #333;
  border-radius: 50%;
  animation: bounce 1.5s infinite ease-in-out;
}

.loader-dot:nth-child(2) {
  animation-delay: 0.3s;
}

.loader-dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
